/* Will be compiled down to a single stylesheet with your sass files */

.artifacts {
  height: 1120px !important;
  .artifact {
    cursor: pointer;
    padding: 5px;
    i {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .artifact:hover {
    i {
      display: block;
    }
  }
}

.film-img, .book-img, .article-img {
  // Need to manually override height: auto which is being set by Bootstrap
  height: 270px;
}
.note-img, .misc-img, .person-img {
  // Need to manually override height: auto which is being set by Bootstrap
  height: 130px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:      -o-transform, opacity;
  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

// THE BELOW IS A WORK IN PROGRESS!!!


//.artifact .artifact-img {
//  -webkit-transition: all 0.2s linear;
//  -moz-transition: all 0.2s linear;
//  -o-transition: all 0.2s linear;
//  -ms-transition: all 0.2s linear;
//  transition: all 0.2s linear;
//  -webkit-filter: grayscale(0); }
//
//.artifact .artifact-mask {
//  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
//  filter: alpha(opacity=0);
//  opacity: 0;
//  -webkit-transition: all 0.4s ease-in-out;
//  -moz-transition: all 0.4s ease-in-out;
//  -o-transition: all 0.4s ease-in-out;
//  -ms-transition: all 0.4s ease-in-out;
//  transition: all 0.4s ease-in-out;
//  background-color: rgba(219, 127, 8, 0.7); }
//
//.artifact .artifact-title {
//  -webkit-transform: translateY(100px);
//  -moz-transform: translateY(100px);
//  -o-transform: translateY(100px);
//  -ms-transform: translateY(100px);
//  transform: translateY(100px);
//  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
//  filter: alpha(opacity=0);
//  opacity: 0;
//  -webkit-transition: all 0.2s ease-in-out;
//  -moz-transition: all 0.2s ease-in-out;
//  -o-transition: all 0.2s ease-in-out;
//  -ms-transition: all 0.2s ease-in-out;
//  transition: all 0.2s ease-in-out; }
//
//.artifact .artifact-title {
//  -webkit-transform: translateY(200px);
//  -moz-transform: translateY(200px);
//  -o-transform: translateY(200px);
//  -ms-transform: translateY(200px);
//  transform: translateY(200px);
//  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
//  filter: alpha(opacity=0);
//  opacity: 0;
//  -webkit-transition: all 0.2s ease-in-out;
//  -moz-transition: all 0.2s ease-in-out;
//  -o-transition: all 0.2s ease-in-out;
//  -ms-transition: all 0.2s ease-in-out;
//  transition: all 0.2s ease-in-out; }
//
//.artifact:hover .artifact-mask {
//  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
//  filter: alpha(opacity=1);
//  opacity: 1; }
//
//.artifact:hover .artifact-title {
//  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
//  filter: alpha(opacity=1);
//  opacity: 1;
//  -webkit-transform: translateY(0px);
//  -moz-transform: translateY(0px);
//  -o-transform: translateY(0px);
//  -ms-transform: translateY(0px);
//  transform: translateY(0px); }
//
//.artifact:hover .artifact-title {
//  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
//  filter: alpha(opacity=1);
//  opacity: 1;
//  -webkit-transform: translateY(50px);
//  -moz-transform: translateY(50px);
//  -o-transform: translateY(50px);
//  -ms-transform: translateY(50px);
//  transform: translateY(50px); }
//
//.artifact:hover .artifact-img {
//  -webkit-transform: scale(1.3, 1.3);
//  -moz-transform: scale(1.3, 1.3);
//  -o-transform: scale(1.3, 1.3);
//  -ms-transform: scale(1.3, 1.3);
//  transform: scale(1.3, 1.3);
//  -webkit-filter: grayscale(100%); }
//
//.artifact:hover .artifact-title {
//  -webkit-transition-delay: 0.1s;
//  -moz-transition-delay: 0.1s;
//  -o-transition-delay: 0.1s;
//  -ms-transition-delay: 0.1s;
//  transition-delay: 0.1s; }