<div class="span12">
  <select ui-select2="{ allowClear: true}" style="width: 25%;" ng-change="filterProject()" ng-model="filter.project" data-placeholder="Project">
    <option value=""></option>
    <option ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
  </select>
  <a href="#/projects">Create a Project</a>
  <div class="btn-group pull-right">
    <button class="btn-info" ng-class="isActive('.watch-list')">Watch List</button>
    <button ng-class="isActive('.film')" ng-click="toggleFilter('.film')">Films</button>
    <button ng-class="isActive('.book')" ng-click="toggleFilter('.book')">Books</button>
    <button ng-class="isActive('.person')" ng-click="toggleFilter('.person')">People</button>
    <button ng-class="isActive('.article')" ng-click="toggleFilter('.article')">Articles</button>
    <button ng-class="isActive('.misc')" ng-click="toggleFilter('.misc')">Miscellaneous</button>
  </div>
  <hr>
  <form id="create-film" ng-submit="submitArtifact()" name="create-film">
    <div class="input-prepend dropdown input-append" style="text-align: center; display: block;" data-select='true'>
      <button class='btn dropdown-toggle' data-toggle='dropdown' style="height: 32px;">
        <span class='dropdown-display'>{{typeToAdd}}</span>
        <i class='caret' style="margin-top: 10px;"></i>
      </button>
      <input type="text" style="width: 60%;" ui-select2="select2Config" watch-config="true" ng-model="artifact">
      <ul class='dropdown-menu' style="left: 200px;">
        <li>
          <a ng-click="typeToAdd = 'Film'" data-value="Film">Film</a>
        </li>
        <li>
          <a ng-click="typeToAdd = 'Book'" data-value="Book">Book</a>
        </li>
        <li>
          <a ng-click="typeToAdd = 'Person'" data-value="Person">Person</a>
        </li>
        <li>
          <a ng-click="typeToAdd = 'Misc'" data-value="Misc">Misc</a>
        </li>
      </ul>
      <div class="btn-group">
        <button class="btn btn-small btn-info add-btn" style="font-size: 17px;" type="submit">Add</button>
      </div>
    </div>
  </form>
  <div class="artifacts well well-large" isotope-grid="artifacts"></div>
</div>