<div class="span12">
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><a href="#/artifacts">All Artifacts</a> <span class="divider">/</span></li>
        <li data-ng-repeat="pastArtifact in lastTenArtifacts" data-ng-click="showArtifact({{pastArtifact.id}})" data-ng-class="{active: pastArtifact.id == artifact.id}">
          {{pastArtifact.title}}
          <span class="divider">/</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <div class="thumbnail">
        <img ng-src="{{artifact.imageUrl}}" width="320" alt=""/>
        <div class="caption">
          <h3 style="text-align: center; cursor: pointer; line-height: 35px;">Tech Noir</h3>
        </div>
      </div>
      <div class="text-center">
        <h5>Watch history</h5>
        <hr style="margin: 5px 0 !important;">
        <p><strong>2013</strong></p>
        <p><small>4:00pm - July 31st</small></p>
        <p><small>7:00pm - August 5th</small></p>
        <p><strong>2012</strong></p>
        <p><small>9:00pm - August 5th</small></p>
      </div>
    </div>
    <div class="span9">
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
      <h1>
        {{artifact.title}}
        <small>
          <i class="icon-search" style="cursor: pointer"></i>
          <i class="icon-film" style="cursor: pointer"></i>
          <i class="icon-eye-open" style="cursor: pointer" data-ng-show="artifact.type == 'film'" ng-click="saveStatus(artifact)"></i>
        </small>
      </h1>
      <div>
        <div class="well well-large">
          <form class="form-inline" data-ng-submit="submitRelatedArtifact()" style="text-align: center; margin-bottom: 20px;">
            <select ui-select2="{ allowClear: true}" ng-model="relationship" style="width: 25%;" data-placeholder="Choose Relationship">
              <option value=""></option>
              <option value="RELATED_TO">Related To</option>
              <option value="INSPIRED_BY">Inspired By</option>
              <option value="INSPIRED">Inspired</option>
              <option value="INFLUENCED">Influenced</option>
              <option value="INFLUENCED_BY">Influenced By</option>
              <option value="REFERENCES">References</option>
              <option value="REFERENCED_BY">Referenced By</option>
            </select>
            <div class="input-prepend dropdown input-append" style="margin-left: 20px;" data-select='true'>
              <span></span>
              <button class='btn dropdown-toggle' data-toggle='dropdown' style="height: 32px;">
                <span class='dropdown-display'>{{typeToAdd}}</span>
                <i class='caret' style="margin-top: 10px;"></i>
              </button>
              <input type="text" style="width: 500px;" ui-select2="select2Config" watch-config="true" ng-model="relatedArtifact">
              <ul class='dropdown-menu'>
                <li>
                  <a ng-click="typeToAdd = 'Film'" data-value="Film">Film</a>
                </li>
                <li>
                  <a ng-click="typeToAdd = 'Book'" data-value="Book">Book</a>
                </li>
                <li>
                  <a ng-click="typeToAdd = 'Person'" data-value="Person">Person</a>
                </li>
                <li>
                  <a ng-click="typeToAdd = 'Misc'" data-value="Misc">Misc</a>
                </li>
              </ul>
              <div class="btn-group">
                <button class="btn btn-small add-btn" style="font-size: 17px;" type="submit">Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      </div>
      <div>
        <div class="btn-group">
          <button ng-class="isActiveRelFilter('.related_to')" ng-click="toggleRelTypeFilter('.related_to')">Related To</button>
          <button ng-class="isActiveRelFilter('.inspired_by')" ng-click="toggleRelTypeFilter('.inspired_by')">Inspired By</button>
          <button ng-class="isActiveRelFilter('.inspired')" ng-click="toggleRelTypeFilter('.inspired')">Inspired</button>
          <button ng-class="isActiveRelFilter('.influenced')" ng-click="toggleRelTypeFilter('.influenced')">Influenced</button>
          <button ng-class="isActiveRelFilter('.influenced_by')" ng-click="toggleRelTypeFilter('.influenced_by')">Influenced By</button>
          <button ng-class="isActiveRelFilter('.references')" ng-click="toggleRelTypeFilter('.references')">References</button>
          <button ng-class="isActiveRelFilter('.referenced_by')" ng-click="toggleRelTypeFilter('.referenced_by')">Referenced By</button>
        </div>
        <div class="btn-group pull-right">
          <button ng-class="isActiveArtifactTypeFilter('.film')" ng-click="toggleArtifactTypeFilter('.film')">Films</button>
          <button ng-class="isActiveArtifactTypeFilter('.book')" ng-click="toggleArtifactTypeFilter('.book')">Books</button>
          <button ng-class="isActiveArtifactTypeFilter('.person')" ng-click="toggleArtifactTypeFilter('.person')">People</button>
          <button ng-class="isActiveArtifactTypeFilter('.article')" ng-click="toggleArtifactTypeFilter('.article')">Articles</button>
          <button ng-class="isActiveArtifactTypeFilter('.misc')" ng-click="toggleArtifactTypeFilter('.misc')">Miscellaneous</button>
        </div>
      </div>
      <hr>
      <div class="artifacts" isotope-grid="artifact.relationships"></div>
    </div>
  </div>
</div>
