<div class="span3">
  <div ng-include="layoutPartial('sidebar')"></div>
</div>
<div class="span9">
  <div data-section="evernote-auth-splash" class="hero-unit" ng-show="!User.isAuthenticated()">
    <h1 ng-bind-template="{{title}}"></h1>

    <p>To get the most out of Discover Film you should connect your Evernote account.</p>

    <p><a data-btn='authenticate' class="btn btn-success btn-large" ng-click="authenticate()">Login with Evernote</a>
    </p>
  </div>

  <div class="well">
    <div class="row-fluid">
      <div class="span2">
        <h5>
          <a href="#">
            <strong class="badge">{{projectCount}}</strong>
            Projects
          </a>
        </h5>
      </div>
      <div class="span2">
        <h5>
          <a href="#">
            <strong class="badge">{{filmCount}}</strong>
            Films
          </a>
        </h5>
      </div>
      <div class="span2">
        <h5>
          <a href="#">
            <strong class="badge">{{articleCount}}</strong>
            Articles
          </a>
        </h5>
      </div>
    </div>
  </div>

  <h2>Recent Activity</h2>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Project</th>
      <th>Date Added</th>
      <th>Date Watched</th>
      <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="activity in recent_activity">
      <td>{{activity.title}}</td>
      <td>{{activity.projectName}}</td>
      <td>{{activity.dateAdded}}</td>
      <td>{{activity.dateWatched}}</td>
      <td><a class="view-link" href="#">View</a></td>
    </tr>
    </tbody>
  </table>

  <ul class="pager">
    <li class="next">
      <a href="activity.htm">More →</a>
    </li>
  </ul>
</div>
