<div class="navbar" ng-controller="NavCtrl">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" href="#">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Discover Film</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="#/">Dashboard</a>
                    </li>
                    <li>
                        <a href="#">Account Settings</a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li ng-switch on="User.isAuthenticated()">
                        <a ng-switch-when="false" href="/auth/evernote" data-id="nav-evernote-login">Login with Evernote</a>
                        <p ng-switch-when="true" class="navbar-text" data-id="nav-username">
                            Welcome, {{User.name()}}
                            <span><small><a href="#" ng-click="logout()">logout</a></small></span>
                        </p>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>