<div class="span3">
  <div ng-include="layoutPartial('sidebar')"></div>
</div>
<div class="span9">
  <div class="well">
    <form class="form-inline" name="create-project" ng-submit="createProject(project)">
      <legend>Create a Project</legend>
      <input type="text" class="input-large" placeholder="Project Name" ng-model="project.name">
      <button type="submit" class="btn">Go!</button>
    </form>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in projects">
      <td>
        {{project.name}}
        <a href="#/projects/{{project.id}}"></a>
      </td>
      <td>{{project.active}}</td>
    </tr>
    </tbody>
  </table>
</div>
